@model JetwaysAdmin.UI.ViewModel.Dashboard

@{
    Layout = "~/Views/Shared/Admin.cshtml";
    var Data = Model;
}

<main id="main" class="main">
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <!-- Page-header start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Manage Customers</h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="index.html">Settings</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">Manage Customers</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page-header end -->
            <div class="pcoded-inner-content">
                <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- Page-body start -->
                        <div class="page-body">
                            <!-- Start Company details wrapper -->
                            <div class="company-details-wrapper">
                                <div class="row">
                                    <div class="col-xl-4 col-md-4 bdr">
                                        <div class="d-flex justify-content-between">
                                            <h6>Jetways Travels</h6>
                                            <div class="justify-content-end"><img class="img-fluid" src="~/assets/images/logo-1.png" alt="Theme-Logo" style="width:120px;"></div>
                                        </div>
                                        <p>Delhi, New Delhi, Delhi, India, 110001</p>
                                        <a href="#"><strong style="color: #448aff; font-weight: 600;">View Organization Structure</strong> </a>
                                    </div>
                                    <div class="col-xl-8 col-md-8">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-file-text" aria-hidden="true"></i>Legal Entity Info</a></li>
                                            <li><a href="#"><i class="fa fa-address-card" aria-hidden="true"></i>Account Details</a></li>
                                            <li><a href="#"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Account Balance</a></li>
                                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>Contact Us</a></li>
                                            <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i>Manage Staff</a></li>
                                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>Locations and Tax</a></li>
                                            <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i>Departments</a></li>
                                            <li><a href="#"><i class="fa fa-id-card" aria-hidden="true"></i>Designations</a></li>
                                            <li><a href="#"><i class="fa fa-gg" aria-hidden="true"></i>Brand</a></li>
                                            <li><a href="#"><i class="fa fa-code" aria-hidden="true"></i>Project Codes</a></li>
                                            <li><a href="#"><i class="fa fa-building" aria-hidden="true"></i>Commercials</a></li>
                                            <li><a href="#"><i class="fa fa-percent" aria-hidden="true"></i>Cost Center</a></li>
                                            <li><a href="#"><strong style="color:#448aff; font-weight: 600;">View All Settings</strong> </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Company details wrapper -->
                            <div class="row">
                                <!--  sale analytics start -->
                                <div class="col-xl-12 col-md-12 block-section">
                                    <div class="row">
                                        <!-- sale card start -->
                                        <div class="col-md-2">
                                            <div class="card text-center order-visitor-card" style="cursor: pointer;" id="customerCard">
                                                <div class="card-block">
                                                    <h6 class="m-b-0">Customers</h6>
                                                    <h3 class="m-t-15 m-b-15">
                                                        <i class="fa fa-arrow-up m-r-15 text-c-red"></i>
                                    @Model.CustomerCount
                                                    </h3>
                                                    <p class="m-b-0">Manage and configure your customers</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card text-center order-visitor-card" style="cursor:pointer;" id="supplierId">
                                                <div class="card-block">
                                                    <h6 class="m-b-0">Suppliers</h6>
                                                    <h3 class="m-t-15 m-b-15">
                                                        <i class="fa fa-arrow-up m-r-15 text-c-green"></i>
                                    @Model.SupplierCount
                                                    </h3>
                                                    <p class="m-b-0">Manage and configure your suppliers</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="card text-center order-visitor-card" id="IATAId">
                                                <div class="card-block">
                                                    <h6 class="m-b-0">Jetways IATA Groups</h6>
                                                    <h3 class="m-t-15 m-b-15">
                                                        <i class="fa fa-arrow-up m-r-15 text-c-red"></i>
                                    @Model.IATAGroupsCount
                                                    </h3>
                                                    <p class="m-b-0">Manage your IATA Groups</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div  class="card text-center order-visitor-card">
                                                <div class="card-block">
                                                    <h6 class="m-b-0">IATA Commissions</h6>
                                                    <h5 class="m-t-15 m-b-15"><i class="fa fa-arrow-up m-r-15 text-c-green"></i>1</h5>
                                                    <p class="m-b-0">Manage your IATA Commissions</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div  class="card text-center order-visitor-card">
                                                <div class="card-block">
                                                    <h6 class="m-b-0">Commercials</h6>
                                                    <p class="m-b-0">Manage your Commercials</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card text-center order-visitor-card">
                                                <div class="card-block">
                                                    <h6 class="m-b-0">Mini Fare Rules</h6>
                                                    <h3 class="m-t-15 m-b-15"><i class="fa fa-arrow-up m-r-15 text-c-red"></i>4</h3>
                                                    <p class="m-b-0">Manage mini fare rules for all airlines</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card text-center order-visitor-card">
                                                <div class="card-block">
                                                    <h6 class="m-b-0">Reporting Parameters</h6>
                                                    <h3 class="m-t-15 m-b-15"><i class="fa fa-arrow-up m-r-15 text-c-green"></i>26</h3>
                                                    <p class="m-b-0">Manage Reporting Parameters</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card text-center order-visitor-card">
                                                <div class="card-block">
                                                    <h6 class="m-b-0">Passthrough Settings</h6>
                                                    <p class="m-b-0">Manage credit card passthrough</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="card text-center order-visitor-card">
                                                <div class="card-block">
                                                    <h6 class="m-b-0">Credit Cards</h6>
                                                    <p class="m-b-0">Manage your credit cards</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card text-center order-visitor-card">
                                                <div class="card-block">
                                                    <h6 class="m-b-0">Access Role</h6>
                                                    <p class="m-b-0">Manage role base access</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card text-center order-visitor-card">
                                                <div class="card-block">
                                                    <h6 class="m-b-0">Cabs</h6>
                                                    <h3 class="m-t-15 m-b-15"><i class="fa fa-arrow-up m-r-15 text-c-red"></i>4</h3>
                                                    <p class="m-b-0">Manage your cabs</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card text-center order-visitor-card">
                                                <div class="card-block">
                                                    <h6 class="m-b-0">Banners</h6>
                                                    <h3 class="m-t-15 m-b-15"><i class="fa fa-arrow-up m-r-15 text-c-green"></i>1</h3>
                                                    <p class="m-b-0">Manage your banners</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card text-center order-visitor-card">
                                                <div class="card-block">
                                                    <h6 class="m-b-0">Manage Account Balance</h6>
                                                    <p class="m-b-0">Manage Account Balance</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card text-center order-visitor-card">
                                                <div class="card-block">
                                                    <h6 class="m-b-0">Manage Exchange Rates</h6>
                                                    <p class="m-b-0">Manage Exchange Rates</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card text-center order-visitor-card">
                                                <div class="card-block">
                                                    <h6 class="m-b-0">User Manuals</h6>
                                                    <h3 class="m-t-15 m-b-15"><i class="fa fa-arrow-up m-r-15 text-c-red"></i>6</h3>
                                                    <p class="m-b-0">Manage User Manuals</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card text-center order-visitor-card">
                                                <div class="card-block">
                                                    <h6 class="m-b-0">Visa Masters</h6>
                                                    <p class="m-b-0">Manage Visa Mastering</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card text-center order-visitor-card">
                                                <div class="card-block">
                                                    <h6 class="m-b-0">Log Book</h6>
                                                    <p class="m-b-0">Manage Log Books</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card text-center order-visitor-card">
                                                <div class="card-block">
                                                    <h6 class="m-b-0">Custom Product</h6>
                                                    <p class="m-b-0">Manage Custom Product</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card text-center order-visitor-card">
                                                <div class="card-block">
                                                    <h6 class="m-b-0">Feedbacks</h6>
                                                    <h3 class="m-t-15 m-b-15"><i class="fa fa-arrow-up m-r-15 text-c-green"></i>0</h3>
                                                    <p class="m-b-0">Manage Feedbacks</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card text-center order-visitor-card">
                                                <div class="card-block">
                                                    <h6 class="m-b-0">Translation</h6>
                                                    <p class="m-b-0">Manage Translation</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- sale card end -->
                                    </div>
                                </div>
                                <!--  sale analytics end -->
                            </div>
                        </div>
                        <!-- Page-body end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- End #main -->


<footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#customerCard").click(function (e) {
               e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ShowCustomersDetail", "CustomersDetail")",
                    success: function (response) {

                        console.log("Posted successfully!");
                        window.location.href = '@Url.Action("ShowCustomersDetail", "CustomersDetail")';
                    },
                    error: function (xhr, status, error) {
                        console.error("Error: " + error);
                    }
                });
            });
            $("#supplierId").click(function (e) {
                e.preventDefault();
                window.location.href = '@Url.Action("ShowManageSuppliers", "ManageSuppliers")';
            });
            $("#IATAId").click(function (e) {
                e.preventDefault();
                window.location.href = '@Url.Action("ShowIATACommissions", "IATACommissions")';
            });

        });
    </script>

</footer>