@model JetwaysAdmin.UI.ViewModel.MenuHeaddata
@{
    Layout = "~/Views/Shared/_LegalEntities.cshtml";
    var Data = Model;
}
<main id="main" class="main">
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <!-- Page-header start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Suppliers and Deal Codes</h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Setting</a></li>
                                <li class="breadcrumb-item"><a href="#">Manage Suppliers</a></li>
                                <li class="breadcrumb-item">Suppliers and Deal Codes</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page-header end -->

            <div class="pcoded-inner-content">
                <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- Page-body start -->
                        <div class="page-body">
                            <!-- Nav tabs -->
                            <div class="m-b-25">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#flights1" role="tab">Flights</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#hotel1" role="tab">Hotel</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#bus1" role="tab">Bus</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#cabs1" role="tab">Cabs</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#visa1" role="tab">Visa</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#forex1" role="tab">Forex</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#insurances1" role="tab">Insurance</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#rail1" role="tab">Rail</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Tab panes -->
                            <!-- Supplier section -->
                            <div class="new-spplier">
                                <h5 class="m-b-20">
                                    <a href="supplieranddealcodes.html" style="position: relative; z-index: 10;">
                                        <i class="fa fa-arrow-left mr-2" aria-hidden="true" style="vertical-align: text-top;"></i>
                                    </a>
                                    Supplier : SpiceJet (Jetways)
                                </h5>
                                
                            </div>
                            <!-- End new-spplier -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="flights1" role="tabpanel">
                                    <div class="col-lg-12 mx-auto">
                                        <!-- Accordion -->
                                        <div id="accordionMain" class="accordion shadow">
                                            <!-- Accordion Item 1 - Credentials -->
                                            <div class="card">
                                                <div id="headingOne" class="bg-white shadow-sm border-0">
                                                    <h2 class="mb-0">
                                                        <button type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                                                aria-controls="collapseOne"
                                                                class="btn btn-link text-dark font-weight-bold collapsible-link">
                                                            Credentials
                                                        </button>
                                                    </h2>
                                                </div>
                                                <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionMain" class="collapse show">
                                                    <div class="card-body" style="overflow: auto; cursor:pointer;">
                                                        <div class="d-flex justify-content-between m-b-10">
                                                            <form class="form-material">
                                                                <div class="form-group form-primary" style="width:280px;">
                                                                    <input type="text" name="footer-email" class="form-control">
                                                                    <span class="form-bar"></span>
                                                                    <label class="float-label">
                                                                        <i class="fa fa-search m-r-10"></i>Search
                                                                    </label>
                                                                </div>
                                                            </form>
                                                            <div><button class="btn btn-danger" data-toggle="modal" data-target="#supplierCred" data-supplier="@ViewBag.SupplierCode">+ Add New</button></div>

                                                        </div>
                                                        <div class="table-border-style">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Credentials Name</th>
                                                                            <th>Client ID</th>
                                                                            <th>User Name</th>
                                                                            <th>Fare Types</th>
                                                                            <th>Status</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var item in Model.supplierscredential)
                                                                        {
                                                                            <tr class="cred-row" data-toggle="modal" data-target="#updateCred" data-id="@item.Id"
                                                                                data-name="@item.CredentialsName"
                                                                                data-clientid="@item.ClientId"
                                                                                data-username="@item.UserName"
                                                                                data-associatedfaretypes="@item.AssociatedFareTypes" data-suppliercode="@item.SupplierCode">
                                                                                <td>@item.CredentialsName</td>
                                                                                <td>@item.ClientId</td>
                                                                                <td>@item.UserName</td>
                                                                                <td>@item.AssociatedFareTypes</td>
                                                                                <td>
                                                                                    <label class="switch m-l-5" style="vertical-align: -webkit-baseline-middle;">
                                                                                        <input type="checkbox" checked />
                                                                                        <span class="slider round"></span>
                                                                                    </label>
                                                                                </td>
                                                                            </tr>
                                                                        }

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex justify-content-between pagination-section" style="border-top: #dee2e6 1px solid; padding-top: 15px;">
                                                            <span class="pagination-info">Showing 1-5 of 5</span>
                                                            <div class="float-right pagination">
                                                                <span class="m-t-5 m-r-5">Items per page:</span>
                                                                <select class="form-select form-select-sm">
                                                                    <option selected>5</option>
                                                                    <option>10</option>
                                                                    <option>25</option>
                                                                    <option>100</option>
                                                                </select>
                                                                <ul class="pagination">
                                                                    <li class="page-item page-pre"><a class="page-link" href="javascript:void(0)">‹</a></li>
                                                                    <li class="page-item active"><a class="page-link" href="javascript:void(0)">0</a></li>
                                                                    <li class="page-item page-next"><a class="page-link" href="javascript:void(0)">›</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>

                                                        <!-- Optional: Dynamic content placeholder -->
                                                        <div id="partial-container"></div>

                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Accordion Item 2 - Deal Codes -->
                                            <div class="card">
                                                <div id="headingTwo" class="bg-white shadow-sm border-0">
                                                    <h2 class="mb-0">
                                                        <button type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                                                aria-controls="collapseTwo"
                                                                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link">
                                                            Deal Codes
                                                        </button>
                                                    </h2>
                                                </div>
                                                <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionMain" class="collapse">
                                                    <div class="card-body" style="overflow: auto; cursor:pointer;">
                                                        <div class="d-flex justify-content-between m-b-10">
                                                            <form class="form-material">
                                                                <div class="form-group form-primary" style="width:280px;">
                                                                    <input type="text" name="footer-email" class="form-control">
                                                                    <span class="form-bar"></span>
                                                                    <label class="float-label"><i class="fa fa-search m-r-10"></i>Search</label>
                                                                </div>
                                                            </form>
                                                            <div>
                                                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#addNewModal" data-suppliercode="@ViewBag.SupplierCode"
                                                                        data-legalentitycode="@ViewBag.LegalEntityCode"
                                                                        data-legalentityname="@ViewBag.LegalEntityName">
                                                                    + Add New
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Deal Code Name</th>
                                                                        <th>Deal Code Type</th>
                                                                        <th>Travel Type</th>
                                                                        <th>Deal Code</th>
                                                                        <th>End Date</th>
                                                                        <th>Booking Type</th>
                                                                        <th>Status</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                   @foreach(var dealcode in Model.DealCodeView){
                                                                    <tr>
                                                                        <td>@dealcode.DealCodeName</td>
                                                                        <td>@dealcode.DefaultValue</td>
                                                                        <td>@dealcode.TravelMode</td>
                                                                        <td>@dealcode.DealCodeId</td>
                                                                        <td>@(dealcode.ExpiryDate.HasValue ? dealcode.ExpiryDate.Value.ToString("dd-MM-yyyy") : "")</td>
                                                                        <td>@dealcode.BookingType</td>
                                                                        <td>Business</td>
                                                                        <td>
                                                                            <label class="switch m-l-5">
                                                                                <input type="checkbox">
                                                                                <span class="slider round"></span>
                                                                            </label>
                                                                        </td>
                                                                    </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="d-flex justify-content-between pagination-section" style="border-top: #dee2e6 1px solid; padding-top: 15px;">
                                                            <span class="pagination-info">Showing 1-5 of 5</span>
                                                            <div class="float-right pagination">
                                                                <span class="m-t-5 m-r-5">Items per page:</span>
                                                                <select class="form-select form-select-sm">
                                                                    <option selected>5</option>
                                                                    <option>10</option>
                                                                    <option>25</option>
                                                                    <option>100</option>
                                                                </select>
                                                                <ul class="pagination">
                                                                    <li class="page-item page-pre"><a class="page-link" href="javascript:void(0)">‹</a></li>
                                                                    <li class="page-item active"><a class="page-link" href="javascript:void(0)">0</a></li>
                                                                    <li class="page-item page-next"><a class="page-link" href="javascript:void(0)">›</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Accordion Item 3 - Advance Pricing -->
                                            <div class="card">
                                                <div id="headingThree" class="bg-white shadow-sm border-0">
                                                    <h2 class="mb-0">
                                                        <button type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                                                aria-controls="collapseThree"
                                                                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link">
                                                            Advance Pricing Markup
                                                        </button>
                                                    </h2>
                                                </div>
                                                <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionMain" class="collapse">
                                                    <div class="card-body" style="overflow: auto; cursor:pointer;">
                                                        <div class="d-flex justify-content-between m-b-10">
                                                            <form class="form-material">
                                                                <div class="form-group form-primary" style="width:280px;">
                                                                    <input type="text" name="footer-email" class="form-control">
                                                                    <span class="form-bar"></span>
                                                                    <label class="float-label"><i class="fa fa-search m-r-10"></i>Search</label>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Supplier</th>
                                                                        <th>Airline</th>
                                                                        <th>Travel Type</th>
                                                                        <th>Cabin Class</th>
                                                                        <th>Fare Type</th>
                                                                        <th>Change Type</th>
                                                                        <th>Amount/Percentage</th>
                                                                        <th>Save</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="text-center" colspan="8">No Data Found</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Accordion -->
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="hotel1" role="tabpanel">
                               @*  <div class="d-flex justify-content-end m-b-10 flex-btn">
                                    <div><button class="btn btn-danger add-btn">+ Add New</button></div>
                                </div> *@
                                <div class="default-content">
                                    <div class="d-flex justify-content-between m-b-15" style="width:320px;">
                                        <h5>Manage Hotel Suppliers?</h5>
                                        <label class="switch">
                                            <input type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <!-- hotel start -->
                                        <div class="col-md-3">
                                            <div class="card">
                                                <div class="card-block sup-bx">
                                                    <div class="d-flex bdr">
                                                        <img class="img-fluid img-h" src="assets/images/hotel-logo/hotel-1.png" alt="logo">
                                                        <h6 class="m-t-10 m-l-10">Travel Boutique Hotels <p class="light-gray">Hotel</p></h6>

                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <p class="m-b-0 light-gray">Last updated:15-01-2025</p>
                                                        <label class="switch">
                                                            <input type="checkbox" checked>
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card">
                                                <div class="card-block sup-bx">
                                                    <div class="d-flex bdr">
                                                        <img class="img-fluid img-h" src="assets/images/hotel-logo/hotel-2.png" alt="logo">
                                                        <h6 class="m-t-10 m-l-10">HOTEL BEDS <p class="light-gray">Hotel</p></h6>

                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <p class="m-b-0 light-gray">Last updated : 27-11-2024</p>
                                                        <label class="switch">
                                                            <input type="checkbox" checked>
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="card">
                                                <div class="card-block sup-bx">
                                                    <div class="d-flex bdr">
                                                        <img class="img-fluid img-h" src="assets/images/hotel-logo/hotel-3.png" alt="logo">
                                                        <h6 class="m-t-10 m-l-10">RateHawk <p class="light-gray">Hotel</p></h6>

                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <p class="m-b-0 light-gray">Last updated : 21-11-2024</p>
                                                        <label class="switch">
                                                            <input type="checkbox" checked>
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- hotel card end -->
                                    </div>
                                </div>
                                <div class="supplier-content" style="display:none;">
                                    <h5 class="m-b-20">
                                        <a href="#" style="position: relative; z-index: 10;"><i class="fa fa-arrow-left mr-2" aria-hidden="true" style="vertical-align: text-top;"></i></a>Add New Supplier for Hotel
                                    </h5>
                                    <div class="col-md-3 p-l-0">
                                        <div class="card">
                                            <div class="card-block sup-bx">
                                                <div class="bdr text-center">
                                                    <img class="img-fluid img-h" src="assets/images/hotel-logo/hotel-4.png" alt="logo">
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <p>Yatra<br /><span class="m-b-0 light-gray">Hotels</span></p>
                                                    <p><input class="m-t-5" type="checkbox" value=""></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-t-20">
                                        <button class="btn btn-primary waves-effect waves-light">Add</button>
                                        <button class="btn btn-danger waves-effect waves-light">Cancel</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="bus1" role="tabpanel">
                                <div class="text-center m-t-10">
                                    <img class="img-fluid" src="assets/images/no-data-img.png" alt="image">
                                    <div>No data found, please add new record</div>
                                    <div><button class="btn sml-btn-danger waves-effect waves-light">+ Add New</button></div>
                                </div>
                            </div>

                            <div class="tab-pane" id="visa1" role="tabpanel">
                                <div class="text-center m-t-10">
                                    <img class="img-fluid" src="assets/images/no-data-img.png" alt="image">
                                    <div>No data found, please add new record</div>
                                    <div><button class="btn sml-btn-danger waves-effect waves-light">+ Add New</button></div>
                                </div>
                            </div>
                            <div class="tab-pane" id="forex1" role="tabpanel">
                                <div class="text-center m-t-10">
                                    <img class="img-fluid" src="assets/images/no-data-img.png" alt="image">
                                    <div>No data found, please add new record</div>
                                    <div><button class="btn sml-btn-danger waves-effect waves-light">+ Add New</button></div>
                                </div>
                            </div>

                            <div class="tab-pane" id="insurances1" role="tabpanel">
                                <div class="text-center m-t-10">
                                    <img class="img-fluid" src="assets/images/no-data-img.png" alt="image">
                                    <div>No data found, please add new record</div>
                                    <div><button class="btn sml-btn-danger waves-effect waves-light">+ Add New</button></div>
                                </div>
                            </div>

                            <div class="tab-pane" id="rail1" role="tabpanel">
                                <div class="text-center m-t-10">
                                    <img class="img-fluid" src="assets/images/no-data-img.png" alt="image">
                                    <div>No data found, please add new record</div>
                                    <div><button class="btn sml-btn-danger waves-effect waves-light">+ Add New</button></div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addNewModal" tabindex="-1" role="dialog" aria-labelledby="addNewModalTitle">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="dealcodeitle">Add Deal Code</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-controller="SuppliersDealCodes" asp-action="AddDealCodes" method="post">
                <div class="modal-body">
                    <div class="form-material form-row">
                          <input type="hidden" name="SupplierCode" class="form-control" value="@ViewBag.SupplierCode" readonly />
                          <input type="hidden" name="LegalEntityCode" class="form-control" value="@ViewBag.LegalEntityCode" readonly />
                          <input type="hidden" name="LegalEntityName" class="form-control" value="@ViewBag.LegalEntityName" readonly />
                        <div class="form-group form-primary col-md-3">
                            <input type="text" name="DealCodeName" class="form-control">
                            <span class="form-bar"></span>
                            <label class="float-label">Deal Code Name</label>
                        </div>
                        <div class="form-group form-primary col-md-3">
                            <select class="form-control" name="SelectedCredentialId">
                                <option value="2">Credentail 1</option>
                                <option value="3">Credentail 1</option>
                                <option value="4">Credentail 1</option>
                            </select>
                            <label class="float-label">Selected Credentail<span>*</span></label>
                        </div>
                        <div class="form-group form-primary col-md-3">
                            <select class="form-control" name="TravelMode">
                                <option value="2">Travel 1</option>
                                <option value="3">Travel 1</option>
                                <option value="4">Travel 1</option>
                            </select>
                            <label class="float-label">Travel Type<span>*</span></label>
                        </div>
                        <div class="form-group form-primary col-md-3">
                            <select class="form-control" name="CabinClass">
                                <option value="Economy">Economy</option>
                                <option value="Business">Business</option>
                                <option value="First">First</option>
                            </select>
                            <label class="float-label">Cabin Class<span>*</span></label>
                        </div>
                        <div class="form-group form-primary col-md-3">
                            <input type="text" name="ExpiryDate" class="form-control date-main">
                            <span class="form-bar"></span>
                            <label class="float-label">Expiry Date<span>*</span></label>
                        </div>
                        <div class="form-group form-primary col-md-3">
                            <select class="form-control langOpt" name="AssociatedFareTypes" multiple>
                                <option value="Corporate">Corporate</option>
                                <option value="3">Promo fare</option>
                                <option value="4">Published</option>
                                <option value="5">Flexi Plus </option>
                                <option value="6">SME </option>
                                <option value="7">Family Fare </option>
                                <option value="8">Special Return  </option>
                                <option value="9">Special Promo Fare </option>
                                <option value="10">Coupon Fare </option>
                                <option value="10">Super 6E </option>
                                <option value="10">Sale Fare </option>
                                <option value="10">6E Lite </option>
                                <option value="10">Tactical </option>
                                <option value="10">Stretch </option>
                                <option value="10"> Stretch Plus </option>
                                <option value="10"> MarineFare </option>
                            </select>
                        </div>
                        <div class="form-group form-primary col-md-3">
                            <input type="text" name="DealPricingCode" class="form-control">
                            <span class="form-bar"></span>
                            <label class="float-label">Deal/Pricing Code</label>
                        </div>
                        <div class="form-group form-primary col-md-3">
                            <input type="text" name="TourCode" class="form-control">
                            <span class="form-bar"></span>
                            <label class="float-label">Tour Code</label>
                        </div>
                        <div class="form-group form-primary col-md-3">
                            <select class="form-control" name="DefaultValue">
                                <option value="2">Type 1</option>
                                <option value="2">Type 2</option>
                            </select>
                            <label class="float-label">Deal Code Type*</label>
                        </div>
                        <div class="form-group form-primary col-md-3">
                            <input type="text" name="ClassOfSeats" class="form-control">
                            <span class="form-bar"></span>
                            <label class="float-label">Class Of Seats(RBDs)</label>
                        </div>
                        <div class="form-group form-primary col-md-3 m-t-15">
                            <strong style="font-weight:700;">GSt Mendatory</strong>
                            <label class="switch m-l-5" style="vertical-align: -webkit-baseline-middle;">
                                <input type="checkbox" name="GSTMandatory" value="true">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="form-group form-primary col-md-3">
                            <select class="form-control" name="BookingType">
                                <option value="2">BookingType 1</option>
                                <option value="3">BookingType 2</option>
                            </select>
                            <label class="float-label">Booking Type*</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" >Add</button>
                    <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit Credentials Popup Start -->
    <div class="modal fade" id="supplierCred" tabindex="-1" role="dialog" aria-labelledby="suppliercredTitle">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="suppliercredTitle">Add Credentials</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-controller="SuppliersDealCodes" asp-action="AddCredentials" method="post" autocomplete="off">
                <div class="modal-body">
                    <div class="form-material form-row">
                        <div class="form-group form-primary col-md-3">
                             <input type="hidden" name="SupplierCode" value="@ViewBag.SupplierCode">
                            <input type="text" name="CredentialsName" class="form-control">
                            <span class="form-bar"></span>
                            <label class="float-label">Credentials Name</label>
                        </div>

                        <div class="form-group form-primary col-md-3">
                            <input type="text" name="ClientId" class="form-control" required="">
                            <span class="form-bar"></span>
                            <label class="float-label">Client ID<span>*</span></label>
                        </div>
                        <div class="form-group form-primary col-md-3">
                                <input type="text" name="UserName" class="form-control" autocomplete="username" required="">
                            <span class="form-bar"></span>
                            <label class="float-label">User Name<span>*</span></label>
                        </div>
                        <div class="form-group form-primary col-md-3">
                                <input type="password" name="Password" class="form-control" autocomplete="new-password" required="">
                            <span class="form-bar"></span>
                            <label class="float-label">Password<span>*</span></label>
                        </div>
                        <div class="form-group form-primary col-md-3">
                            <input type="text" name="AgentName" class="form-control" required="">
                            <span class="form-bar"></span>
                            <label class="float-label">Agent Name<span>*</span></label>
                        </div>
                        <div class="form-group form-primary col-md-3">
                            <select class="form-control langOpt" name="AssociatedFareTypes" multiple>
                                <option value="Corporate">Corporate</option>
                                <option value="Promofare">Promo fare</option>
                                <option value="Published">Published</option>
                                <option value="FlexiPlus">Flexi Plus</option>
                                <option value="SME">SME</option>
                                <option value="FamilyFare">Family Fare </option>
                                <option value="SpecialReturn">Special Return</option>
                                <option value="SpecialPromoFare">Special Promo Fare </option>
                                <option value="CouponFare">Coupon Fare </option>
                                <option value="Super6E">Super 6E </option>
                                <option value="SaleFare">Sale Fare </option>
                                <option value="6ELite">6E Lite </option>
                                <option value="Tactical">Tactical </option>
                                <option value="Stretch">Stretch </option>
                                <option value="StretchPlus"> Stretch Plus </option>
                                <option value="MarineFare"> MarineFare </option>
                            </select>
                        </div>
                        <div class="form-group form-primary col-md-3">
                            <input type="text" name="OrganizationId" class="form-control">
                            <span class="form-bar"></span>
                            <label class="float-label">Organization ID</label>
                        </div>
                        <div class="form-group form-primary col-md-3">
                            <select class="form-control langOptone" name="TravelType">
                                <option value="Personal">Personal</option>
                            </select>
                        </div>
                        <div class="form-group form-primary col-md-3">
                            <select class="form-control langOpttwo" name="CredentialsType">
                                <option value="API">API</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit Credentials Popup End -->
    <!-- Edit Credentials Popup Start -->
    <div class="modal fade" id="updateCred" tabindex="-1" role="dialog" aria-labelledby="updatecredTitle">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="suppliercredTitle">Edit Credentials</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-controller="SuppliersDealCodes" asp-action="EditSupplierCredential" method="post">
                <div class="modal-body">
                    <div class="form-material form-row">
                        <div class="form-group form-primary col-md-6">
                            <input type="text" name="CredentialsName" class="form-control">
                            <span class="form-bar"></span>
                            <label class="float-label">Credentials Name</label>
                        </div>
                        <input type="hidden" name="LegalEntityCode" class="form-control" value="@ViewBag.LegalEntityCode">
                        <input type="hidden" name="LegalEntityName" class="form-control" value="@ViewBag.LegalEntityName">
                        <input type="hidden" name="SupplierCode" class="form-control">
                        <input type="hidden" name="Id" class="form-control">
                        <div class="form-group form-primary col-md-6">
                            <input type="text" name="ClientId" class="form-control" required="">
                            <span class="form-bar"></span>
                            <label class="float-label">Client ID<span>*</span></label>
                        </div>
                        <div class="form-group form-primary col-md-6">
                            <input type="text" name="UserName" class="form-control" required="">
                            <span class="form-bar"></span>
                            <label class="float-label">User Name<span>*</span></label>
                        </div>
                        <div class="form-group form-primary col-md-6">
                            <input type="password" name="Password" class="form-control" required="">
                            <span class="form-bar"></span>
                            <label class="float-label">Password<span>*</span></label>
                        </div>

                        <div class="form-group form-primary col-md-6">
                            <select class="form-control langOpt" name="AssociatedFareTypes" multiple>
                                <option value="2">Corporate</option>
                                <option value="3">Promo fare</option>
                                <option value="4">Published</option>
                                <option value="5">Flexi Plus</option>
                                <option value="6">SME</option>
                                <option value="7">Family Fare</option>
                                <option value="8">Special Return </option>
                                <option value="9">Special Promo Fare </option>
                                <option value="10">Coupon Fare </option>
                                <option value="10">Super 6E </option>
                                <option value="10">Sale Fare </option>
                                <option value="10">6E Lite </option>
                                <option value="10">Tactical </option>
                                <option value="10">Stretch </option>
                                <option value="10"> Stretch Plus </option>
                                <option value="10"> MarineFare </option>
                            </select>
                        </div>
                        <div class="form-group form-primary col-md-6">
                            <input type="text" name="OrganizationId" class="form-control">
                            <span class="form-bar"></span>
                            <label class="float-label">Organization ID</label>
                        </div>
                        <div class="col-md-12" style="font-size:12px;">Choose fare types you would like to display to this legal entity</div>
                        <div class="form-group form-primary col-md-6">
                            <select class="form-control langOptone" name="TravelType">
                                <option value="2">Corporate</option>
                                <option value="3">Promo fare</option>
                                <option value="4">Published</option>
                                <option value="5">Flexi Plus </option>
                                <option value="6">SME </option>
                                <option value="7">Family Fare </option>
                                <option value="8">Special Return  </option>
                                <option value="9">Special Promo Fare </option>
                                <option value="10">Coupon Fare </option>
                                <option value="10">Super 6E </option>
                                <option value="10">Sale Fare </option>
                                <option value="10">6E Lite </option>
                                <option value="10">Tactical </option>
                                <option value="10">Stretch </option>
                                <option value="10"> Stretch Plus </option>
                                <option value="10"> MarineFare </option>
                            </select>
                        </div>

                        <div class="form-group form-primary col-md-6">
                            <select class="form-control langOpttwo" name="CredentialsType">
                                <option value="">Credentials Type</option>
                                <option value="2">Type</option>
                                <option value="3">Type</option>
                                <option value="4">Type</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Upload</button>
                    <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit Credentials Popup End -->
</main>
<footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Bootstrap JS Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Bootstrap JS Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- datepicker start -->
    <script>
        $(function () {
            $(".date-main").datepicker({
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
    <!-- datepicker End -->
    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

    <!-- Suppliers and Deal add and remove start -->
    <script>
        $(document).ready(function () {
            $(document).on("click", ".add-btn", function () {
                let parentTab = $(this).closest(".tab-pane");
                parentTab.find(".default-content").hide();
                parentTab.find(".supplier-content").show();
                $(this).hide();
            });
            $(document).on("click", ".default-content", function () {
                let parentTab = $(this).closest(".tab-pane");
                parentTab.find(".default-content, .add-btn").hide();
                parentTab.find(".new-spplier").show();
            });
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                let targetTab = $($(e.target).attr("href"));
                targetTab.find(".default-content").show();
                targetTab.find(".new-spplier, .supplier-content").hide();
                targetTab.find(".add-btn").show();
            });
            $('.nav-link').on("click", function () {
                let targetTab = $($(this).attr("href"));
                targetTab.find(".default-content").show();
                targetTab.find(".new-spplier, .supplier-content").hide();
                targetTab.find(".add-btn").show();
            });
        });
    </script>
    <script>
        $(document).on('click', '.cred-row', function () {
            debugger;
            var id = $(this).data('id');
            var name = $(this).data('name');
            var clientId = $(this).data('clientid');
            var userName = $(this).data('username');
            var supplierid = $(this).data('suppliercode');
            var associatedFareTypes = $(this).data('associatedfaretypes');
            $('input[name="CredentialsName"]').val(name);
            $('input[name="ClientId"]').val(clientId);
            $('input[name="UserName"]').val(userName);
            $('input[name="SupplierCode"]').val(supplierid);
            $('input[name="Id"]').val(id);
        });
    </script>

</footer>
  