@using JetwaysAdmin.Entity
@model JetwaysAdmin.UI.ViewModel.MenuHeaddata

@{
    Layout = "~/Views/Shared/_MasterData.cshtml";
    var Data = Model;
}

<main id="main" class="main">
    <!-- ========= BAND LIST SECTION ========= -->
    <div class="pcoded-main-container" id="ShowBand">
        <div class="pcoded-wrapper">
            <!-- Page-header start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Manage Bands</h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Setting</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Manage Customers</a>
                                </li>
                                <li class="breadcrumb-item">
                                    Bands
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page-header end -->

            <div class="pcoded-inner-content">
                <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- Page-body start -->
                        <div class="page-body">
                            @if (TempData["BandAdd"] != null)
                            {
                                <div class="alert alert-success" style="width:28%; background-color:#11c15b;color:#fff">
                                    <strong></strong> @TempData["BandAdd"]
                                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                </div>
                            }
                            <div class="card">
                                <div class="card-block">
                                    <div class="d-flex justify-content-between m-b-10">
                                        <form class="form-material">
                                            <div class="form-group form-primary" style="width:280px;">
                                                <input type="text" name="search" class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">
                                                    <i class="fa fa-search m-r-10"></i>Search
                                                </label>
                                            </div>
                                        </form>
                                        <div>
                                            <button id="addband" class="btn sml-btn-danger">+ Add New</button>
                                            <button class="btn btn-primary sml-b" data-toggle="modal" data-target="#bulkUpload" type="button">+ Bulk Upload</button>
                                            <button class="btn btn-primary sml-b">Export</button>
                                        </div>
                                    </div>

                                    <div class="tab-content">
                                        <div class="tab-pane active table-border-style" id="bandsList" role="tabpanel">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th><button class="srt-btn" type="button" aria-label="band-name">Band Name</button></th>
                                                            <th><button class="srt-btn" type="button" aria-label="band-code">Band Code</button></th>
                                                            <th><button class="srt-btn" type="button" aria-label="band-desc">Band Level</button></th>
                                                            <th><button class="srt-btn" type="button" aria-label="band-status">Status</button></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="bandTableBody">
                                                        @if (Model != null && Model.Customerbands != null && Model.Customerbands.Any())
                                                        {
                                                            foreach (var item in Model.Customerbands)
                                                            {
                                                                <tr class="department-row" data-deptid="@item.BandID">
                                                                    <td>@item.BandName</td>
                                                                    <td>@item.BandCode</td>
                                                                    <td>@item.BandLevel</td>
                                                                    <td>@(item.IsActive ? "Active" : "Inactive")</td>
                                                                </tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr>
                                                                <td class="text-center" colspan="4">No Data Found</td>
                                                            </tr>
                                                        } 
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- Page-body end -->
                        </div>
                    </div>
                </div>
                <!-- Main-body end -->
                <!-- Bulk Upload Bands Popup Start -->
                <div class="modal fade" id="bulkUpload" tabindex="-1" role="dialog" aria-labelledby="bulkUploadTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="bulkUploadTitle">Bulk Upload Bands</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <p style="font-weight:700;">Add or edit Bands by uploading a CSV file</p>
                                    <p style="font-weight:700;">Note: Fields marked as [*] after column name are mandatory</p>
                                </div>
                                <div class="custom-file m-t-10 mb-3" style="width:auto;">
                                    <input type="file" class="custom-file-input" id="customFile" name="filename">
                                    <label class="custom-file-label" for="customFile" style="border-color: #0e93d8; color:#0e93d8;">Attach CSV </label>
                                </div>

                                <div>
                                    <p style="font-weight:700;">Not sure how to get started?</p>
                                    <p>Download a CSV file, then edit and upload the file</p>
                                </div>
                                <div class="m-t-15">
                                    <p style="font-weight:700;">Download blank <a href="#" style="color: #0e93d8;">CSV template</a></p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Upload</button>
                                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Bulk Upload Bands Popup End -->
            </div>
        </div>
    </div>

    @* ========= ADD BAND SECTION (HIDDEN BY DEFAULT) ========= *@
    <div class="pcoded-main-container" id="AddBand">
        <div class="pcoded-wrapper">
            <!-- Page-header start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Add New Band</h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Setting</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Manage Customers</a>
                                </li>
                                <li class="breadcrumb-item">
                                    Bands
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page-header end -->

            <div class="pcoded-inner-content">
                <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- Page-body start -->
                        <div class="page-body">
                            <div class="card">
                                <div class="card-block">
                                    <form asp-controller="Bands" asp-action="AddBand" class="form-material form-row" method="post">
                                      <div class="form-group form-primary col-md-3">
                                            <input type="text" name="BandName" class="form-control" required>
                                            <span class="form-bar"></span>
                                            <label class="float-label">Band Name<span>*</span></label>
                                        </div>

                                        <div class="form-group form-primary col-md-3">
                                            <input type="text"
                                                   id="BandCode"
                                                   name="BandCode"
                                                   class="form-control"
                                                   maxlength="6"
                                                   minlength="2" required>
                                            <span class="form-bar"></span>
                                            <label class="float-label">Band Code<span>*</span></label>
                                        </div>

                                        <div class="form-group form-primary col-md-3">
                                            <input type="text" name="Reference1" class="form-control">
                                            <span class="form-bar"></span>
                                            <label class="float-label">Reference 1 (optional)</label>
                                        </div>

                                        <div class="form-group form-primary col-md-3">
                                            <input type="text" name="Reference2" class="form-control">
                                            <span class="form-bar"></span>
                                            <label class="float-label">Reference 2 (optional)</label>
                                        </div>

                                        <div class="form-group form-primary col-md-12 m-t-10" style="border-top:1px solid #dee2e6;"></div>

                                        <div class="form-group form-primary col-md-3">
                                            <select name="IsActive" class="form-control select">
                                                <option value="true">Active</option>
                                                <option value="false">Inactive</option>
                                            </select>
                                            <span class="form-bar"></span>
                                            <label class="float-label">Status</label>
                                        </div>

                                        <div class="form-group form-primary col-md-12">
                                            <button id="SaveBand" class="btn btn-primary waves-effect waves-light" type="submit">Add New</button>
                                            <button type="button" class="btn btn-danger waves-effect waves-light" id="CancelAddBand">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- Page-body end -->
                        </div>
                    </div>
                </div>
                <!-- Main-body end -->
            </div>

            <div id="styleSelector"> </div>
        </div>
    </div>
</main>

<footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @section Scripts {
        <script>
            $(document).ready(function () {
                $('#bandTableBody').on('click', '.department-row', function () {
                    var deptId = $(this).data('deptid');
                    if (deptId) {
                        var url = '@Url.Action("UpdateBand", "Bands")' + '?bandId=' + deptId;
                        window.location.href = url;
                    }
                });
            });
        </script>
    }
    <script>
        $('#langOpt').multiselect({
            columns: 1,
            texts: {
                placeholder: 'Associated Fare Type(s) *'
            }
        });
    </script>

    <script>
        $(function () {
            $(".select").select2();
        });
    </script>

    <script>
        $(function () {
            $(".date-main").datepicker({
                changeMonth: true,
                changeYear: true
            });
        });
    </script>

    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

    <script>
        $(document).ready(function () {
            // hide add band section initially
            $('#AddBand').hide();

            // when clicking "+ Add New" in list
            $('#addband').on('click', function () {
                $('#ShowBand').hide();
                $('#AddBand').show();
            });

            // cancel button in Add Band form
            $('#CancelAddBand').on('click', function () {
                $('#AddBand').hide();
                $('#ShowBand').show();
            });
        });
    </script>
</footer>
