@model JetwaysAdmin.UI.ViewModel.MenuHeaddata
@{
    var Data=Model;
}
<h5 class="m-b-20">
    <button type="button"
            id="backToSuppliers"
            data-idlegal="@ViewBag.Id"
            data-legal-code="@ViewBag.LegalEntityCode"
            data-legal-name="@ViewBag.LegalEntityName"
            style="position: relative; z-index: 9999; cursor: pointer; background:none; border:none;">
        <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>
    </button>Supplier : @Model.supplierscredential[0].CredentialsName
</h5>
<div class="row">
    <div class="col-lg-12 mx-auto">
        <!-- Accordion -->
        <div id="accordionMain" class="accordion shadow">
            <!-- Accordion item 1 -->
            <div class="card">
                <div id="headingOne" class="bg-white shadow-sm border-0">
                    <h2 class="mb-0">
                        <button type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne"
                                class="btn btn-link text-dark font-weight-bold collapsible-link">
                            Credentials
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionMain" class="collapse show">
                    <div class="card-body" table-border-style" style="overflow: auto; cursor:pointer;">
                        <div class="d-flex justify-content-between m-b-10">
                            <form class="form-material">
                                <div class="form-group form-primary" style="width:280px;">
                                    <input type="text" name="footer-email" class="form-control">
                                    <span class="form-bar"></span>
                                    <label class="float-label"><i class="fa fa-search m-r-10"></i>Search</label>
                                </div>
                            </form>
                        </div>
                        <div class="table-border-style">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Credentials Name</th>
                                            <th>Client ID</th>
                                            <th>User Name</th>
                                            <th>Fare Types</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.supplierscredential)
                                        {
                                            <tr class="cred-row" data-toggle="modal" data-target="#updateCred" data-id="@item.Id"
                                                data-name="@item.CredentialsName"
                                                data-clientid="@item.ClientId"
                                                data-username="@item.UserName"
                                                data-associatedfaretypes="@item.AssociatedFareTypes" data-suppliercode="@item.SupplierId">
                                                <td>@item.CredentialsName</td>
                                                <td>@item.ClientId</td>
                                                <td>@item.UserName</td>
                                                <td>@item.AssociatedFareTypes</td>
                                                <td>
                                                    <label class="switch m-l-5" style="vertical-align: -webkit-baseline-middle;">
                                                        <input type="checkbox" checked />
                                                        <span class="slider round"></span>
                                                    </label>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between pagination-section" style="border-top: #dee2e6 1px solid; padding-top: 15px;">
                            <span class="pagination-info">
                                Showing 1-5 of 5
                            </span>
                            <div class="float-right pagination">
                                <span class="m-t-5 m-r-5">Items per page:</span>
                                <select class="form-select form-select-sm">
                                    <option selected>5</option>
                                    <option>10</option>
                                    <option>25</option>
                                    <option>100</option>
                                </select>
                                <ul class="pagination">
                                    <li class="page-item page-pre"><a class="page-link" aria-label="previous page" href="javascript:void(0)">‹</a></li>
                                    <li class="page-item active"><a class="page-link" aria-label="to page 1" href="javascript:void(0)">0</a></li>
                                    <li class="page-item page-next"><a class="page-link" aria-label="next page" href="javascript:void(0)">›</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Edit Credentials Popup Start -->
            <div class="modal fade" id="supplierCred" tabindex="-1" role="dialog" aria-labelledby="suppliercredTitle">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="suppliercredTitle">Edit Credentials</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-material form-row">
                                <div class="form-group form-primary col-md-6">
                                    <input type="text" name="credentials-name" class="form-control">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Credentials Name</label>
                                </div>

                                <div class="form-group form-primary col-md-6">
                                    <input type="text" name="client-id" class="form-control" required="">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Client ID<span>*</span></label>
                                </div>
                                <div class="form-group form-primary col-md-6">
                                    <input type="text" name="User-name" class="form-control" required="">
                                    <span class="form-bar"></span>
                                    <label class="float-label">User Name<span>*</span></label>
                                </div>
                                <div class="form-group form-primary col-md-6">
                                    <input type="password" name="" class="form-control" required="">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Password<span>*</span></label>
                                </div>

                                <div class="form-group form-primary col-md-6">
                                    <select class="form-control langOpt" name="Associated Fare" multiple>
                                        <option value="2">Corporate</option>
                                        <option value="3">Promo fare</option>
                                        <option value="4">Published</option>
                                        <option value="5">Flexi Plus </option>
                                        <option value="6">SME </option>
                                        <option value="7">Family Fare </option>
                                        <option value="8">Special Return  </option>
                                        <option value="9">Special Promo Fare </option>
                                        <option value="10">Coupon Fare </option>
                                        <option value="10">Super 6E </option>
                                        <option value="10">Sale Fare </option>
                                        <option value="10">6E Lite </option>
                                        <option value="10">Tactical </option>
                                        <option value="10">Stretch </option>
                                        <option value="10"> Stretch Plus </option>
                                        <option value="10"> MarineFare </option>
                                    </select>
                                </div>
                                <div class="form-group form-primary col-md-6">
                                    <input type="text" name="" class="form-control">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Organization ID</label>
                                </div>
                                <div class="col-md-12" style="font-size:12px;">Choose fare types you would like to display to this legal entity</div>
                                <div class="form-group form-primary col-md-6">
                                    <select class="form-control langOptone" name="Business Travel" multiple>
                                        <option value="2">Corporate</option>
                                        <option value="3">Promo fare</option>
                                        <option value="4">Published</option>
                                        <option value="5">Flexi Plus </option>
                                        <option value="6">SME </option>
                                        <option value="7">Family Fare </option>
                                        <option value="8">Special Return  </option>
                                        <option value="9">Special Promo Fare </option>
                                        <option value="10">Coupon Fare </option>
                                        <option value="10">Super 6E </option>
                                        <option value="10">Sale Fare </option>
                                        <option value="10">6E Lite </option>
                                        <option value="10">Tactical </option>
                                        <option value="10">Stretch </option>
                                        <option value="10"> Stretch Plus </option>
                                        <option value="10"> MarineFare </option>
                                    </select>
                                </div>

                                <div class="form-group form-primary col-md-6">
                                    <select class="form-control langOpttwo" name="Personal Travel" multiple>
                                        <option value="2">Corporate</option>
                                        <option value="3">Promo fare</option>
                                        <option value="4">Published</option>
                                        <option value="5">Flexi Plus </option>
                                        <option value="6">SME </option>
                                        <option value="7">Family Fare </option>
                                        <option value="8">Special Return  </option>
                                        <option value="9">Special Promo Fare </option>
                                        <option value="10">Coupon Fare </option>
                                        <option value="10">Super 6E </option>
                                        <option value="10">Sale Fare </option>
                                        <option value="10">6E Lite </option>
                                        <option value="10">Tactical </option>
                                        <option value="10">Stretch </option>
                                        <option value="10"> Stretch Plus </option>
                                        <option value="10"> MarineFare </option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Upload</button>
                            <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Edit Credentials Popup End -->
            <!-- End -->
            <!-- Accordion item 2 -->
            <div class="card">
                <div id="headingTwo" class="bg-white shadow-sm border-0">
                    <h2 class="mb-0">
                        <button type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo"
                                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link">
                            Deal Codes
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionMain" class="collapse">
                    <div class="card-body" table-border-style" style="overflow: auto; cursor:pointer;">
                        <div class="d-flex justify-content-between m-b-10">
                            <form class="form-material">
                                <div class="form-group form-primary" style="width:280px;">
                                    <input type="text" name="footer-email" class="form-control">
                                    <span class="form-bar"></span>
                                    <label class="float-label"><i class="fa fa-search m-r-10"></i>Search</label>
                                </div>
                            </form>
                            <div id="openDealCodeBtn"><button type="button" class="btn sml-btn-danger waves-effect waves-light">+ Add New</button></div>
                        </div>
                        <div class="table-border-style">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th><button class="srt-btn" type="button" aria-label="deal-code-name">Deal Code Name</button></th>
                                            <th><button class="srt-btn" type="button" aria-label="deal-code-type">Deal Code Type</button></th>
                                            <th><button class="srt-btn" type="button" aria-label="travel-type">Travel Type</button></th>
                                            <th><button class="srt-btn" type="button" aria-label="deal-dode">Deal Code</button></th>
                                            <th><button class="srt-btn" type="button" aria-label="start-date">Start Date</button></th>
                                            <th><button class="srt-btn" type="button" aria-label="End-date">End Date</button></th>
                                            <th><button class="srt-btn" type="button" aria-label="Booking-type">Booking Type</button></th>
                                            <th><button class="srt-btn" type="button" aria-label="Status">Status</button></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var dealcode in Model.DealCodeView)
                                        {
                                            <tr>
                                                <td>@dealcode.DealCodeName</td>
                                                <td>@dealcode.AssociatedFareTypes</td>
                                                <td>@dealcode.TravelMode</td>
                                                <td>@dealcode.DealCodeId</td>
                                                <td>@dealcode.StartDate.ToString("dd-MM-yyyy")</td>
                                                <td>@(dealcode.ExpiryDate.HasValue ? dealcode.ExpiryDate.Value.ToString("dd-MM-yyyy") : "")</td>
                                                <td>@dealcode.BookingType</td>
                                                <td>Business</td>
                                                <td>
                                                    <label class="switch m-l-5">
                                                        <input type="checkbox">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between pagination-section" style="border-top: #dee2e6 1px solid; padding-top: 15px;">
                            <span class="pagination-info">
                                Showing 1-1 of 1
                            </span>
                            <div class="float-right pagination">
                                <span class="m-t-5 m-r-5">Items per page:</span>
                                <select class="form-select form-select-sm">
                                    <option selected>5</option>
                                    <option>10</option>
                                    <option>25</option>
                                    <option>100</option>
                                </select>
                                <ul class="pagination">
                                    <li class="page-item page-pre"><a class="page-link" aria-label="previous page" href="javascript:void(0)">‹</a></li>
                                    <li class="page-item active"><a class="page-link" aria-label="to page 1" href="javascript:void(0)">0</a></li>
                                    <li class="page-item page-next"><a class="page-link" aria-label="next page" href="javascript:void(0)">›</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Deal Code Popup Start -->
                <div id="dealCodeBackdrop" class="custom-popup-backdrop">
                    <form asp-controller="OrganizationStructure" asp-action="AddcustomerDealCodes" class="custom-popup" method="post">
                        <input type="hidden" name="SupplierId" value="@ViewBag.SupplierId" />
                        <input type="hidden" name="IdLegal" value="@ViewBag.Id" />
                        <input type="hidden" name="LegalEntityCode" value="@ViewBag.LegalEntityCode" />
                        <input type="hidden" name="LegalEntityName" value="@ViewBag.LegalEntityName" />
                        <div class="modal-header">
                            <h5 class="modal-title" id="adddealcodeoneTitle">Add Deal Code</h5>
                            <button id="dealCodeClose" type="button" class="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-material form-row">
                                <div class="form-group form-primary col-md-4">
                                    <input type="text" name="DealCodeName" class="form-control" required>
                                    <span class="form-bar"></span>
                                    <label class="float-label">Deal Code Name</label>
                                </div>
                                <div class="form-group form-primary col-md-4">
                                    <select name="IATAGroup" class="form-control fill" required>
                                        <option value="1">Delhi</option>
                                        <option value="2">Pune</option>
                                    </select>
                                    <span class="form-bar"></span>
                                    <label class="float-label">IATAGroup<span>*</span></label>
                                </div>
                                <div class="form-group form-primary col-md-4">
                                    <select name="TravelType" class="form-control fill" required>
                                        <option value="International">International</option>
                                        <option value="Domestic">Domestic</option>
                                        <option value="Both">Both</option>
                                    </select>
                                    <span class="form-bar"></span>
                                    <label class="float-label">Travel Type<span>*</span></label>
                                </div>

                                <div class="form-group form-primary col-md-4">
                                    <input class="form-control date-main" name="EndDate"  type="text">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Expiry Date</label>
                                </div>

                                <div class="form-group form-primary col-md-4">
                                    <input type="text" name="DealPricingCode" class="form-control" required>
                                    <span class="form-bar"></span>
                                    <label class="float-label">Deal/Pricing Code</label>
                                </div>

                                <div class="form-group form-primary col-md-4">
                                    <input type="text" name="TourCode" class="form-control" required>
                                    <span class="form-bar"></span>
                                    <label class="float-label">TourCode</label>
                                </div>
                                <div class="form-group form-primary col-md-4">
                                    <select name="AssociatedFareTypes" class="form-control fill" required>
                                        <option value="Corporate">Corporate</option>
                                        <option value="Retail">Retail</option>
                                    </select>
                                    <span class="form-bar"></span>
                                    <label class="float-label">AssociatedFareTypes<span>*</span></label>
                                </div>
                                <div class="form-group form-primary col-md-4">
                                    <select name="DealCodeType" class="form-control fill" required>
                                        <option value="opt1">Default</option>
                                        <option value="opt2">Promotional</option>
                                        <option value="opt3">Both</option>
                                    </select>
                                    <span class="form-bar"></span>
                                    <label class="float-label">Deal Code Type<span>*</span></label>
                                </div>

                                <div class="form-group form-primary col-md-4">
                                    <input type="text" name="ClassOfSeats" class="form-control" required>
                                    <span class="form-bar"></span>
                                    <label class="float-label">Class of Seats(RBDs)</label>
                                </div>

                                <div class="form-group form-primary col-md-4">
                                    <strong>GST Mandatory</strong><br />
                                    <label class="switch m-l-5" style="margin-top: 10px;">
                                        <input type="checkbox" name="GstMandatory" value="true" required>
                                        <span class="slider round"></span>
                                    </label>
                                </div>

                                <div class="form-group form-primary col-md-4">
                                    <select name="BookingType" class="form-control fill" required>
                                        <option value="opt1">Business</option>
                                        <option value="opt2">Personal</option>
                                    </select>
                                    <span class="form-bar"></span>
                                    <label class="float-label">Booking Type<span>*</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Add</button>
                            <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
                <!-- Add Deal Code Popup End -->
            </div>
            <!-- End -->
            <!-- Accordion item 3 -->
            <div class="card">
                <div id="headingThree" class="bg-white shadow-sm border-0">
                    <h2 class="mb-0">
                        <button type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree"
                                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link">
                            Advance Pricing Markup
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionMain" class="collapse">
                    <div class="card-body" table-border-style" style="overflow: auto; cursor:pointer;">
                        <div class="d-flex justify-content-between m-b-10">
                            <form class="form-material">
                                <div class="form-group form-primary" style="width:280px;">
                                    <input type="text" name="footer-email" class="form-control">
                                    <span class="form-bar"></span>
                                    <label class="float-label"><i class="fa fa-search m-r-10"></i>Search</label>
                                </div>
                            </form>
                        </div>
                        <div class="table-border-style">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th><button class="srt-btn" type="button" aria-label="Supplier">Supplier</button></th>
                                            <th><button class="srt-btn" type="button" aria-label="Airline">Airline</button></th>
                                            <th><button class="srt-btn" type="button" aria-label="travel-type">Travel Type</button></th>
                                            <th><button class="srt-btn" type="button" aria-label="cabin-class">Cabin Class</button></th>
                                            <th><button class="srt-btn" type="button" aria-label="fare-type">Fare Type</button></th>
                                            <th><button class="srt-btn" type="button" aria-label="change-type">Change Type</button></th>
                                            <th><button class="srt-btn" type="button" aria-label="amount-percentage">Amount/Percentage</button></th>
                                            <th>Save</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center" colspan="8">No Data Found</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End -->
        </div>
        <!-- End -->
    </div>
</div>
<footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    $(function () {
      $(".select").select2();
    });
    flatpickr(".date-main", {
        dateFormat: "Y-m-d",
        minDate: "today",
        allowInput: true,
        changeMonth: true,
        changeYear: true
    });
</script>
</footer>
