@model List<JetwaysAdmin.UI.ViewModel.HierarchyLegalEntityView>

@{
    Layout = "~/Views/Shared/Admin.cshtml";
    var Data = Model;
}


<main id="main" class="main">
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <!-- Page-header start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Manage Customers</h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="index.html">Settings</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">Manage Suppliers</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pcoded-inner-content">
                <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="page-body">
                            <div class="card">
                                <div class="card-block table-border-style">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Company Name</th>
                                                    <th>Sub Entities</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                        </table>
                                        @foreach (var parent in Model)
                                        {
                                            <div class="d-flex justify-content-between organization-structure-ac">
                                                <!-- Parent Row -->
                                                <div class="d-flex first">
                                                    <div style="width:110px;">
                                                        @if (parent.SubEntities.Any())
                                                        {
                                                            <a href="#" class="toggle-btn" data-toggle="collapse" data-target="#collapse-@parent.LegalEntityCode">
                                                                <i class="fa fa-chevron-right m-r-10"></i>
                                                            </a>
                                                        }
                                                        <img src="../assets/images/default-logo-smal.png" class="img-70 m-r-5" />
                                                    </div>
                                                    <div>
                                                        <form method="post" action="/LegalEntity/UpdateLegalEntities">
                                                            <button class="entity-link"><span class="m-r-5">[@parent.LegalEntityCode]</span>@parent.LegalEntityName</button>
                                                            <input type="hidden" name="Id" value="@parent.Id" />
                                                            <input type="hidden" name="Code" value="@parent.LegalEntityCode" />
                                                            <input type="hidden" name="Name" value="@parent.LegalEntityName" />
                                                        </form>
                                                        <form class="d-block" method="post" action="/LegalEntity/ShowLegalEntities">
                                                            <input type="hidden" name="LegalEntityCode" value="@parent.LegalEntityCode" />
                                                            0<span class="sub-text">Subs</span>
                                                            <button type="submit" class="btn btn-link p-0 add-sub-entity" style="border: none; background: none;">
                                                                <i class="fa fa-plus-circle sub-icon" aria-hidden="true"></i>
                                                            </button>
                                                        </form>
                                                        
                                                    </div>
                                                </div>
                                                <div class="second">@parent.SubEntities.Count</div>
                                                <div class="third">
                                                    <label class="lavel-text" style="color:red">
                                                        <i class="fa fa-circle m-r-10" style="font-size: 9px;"></i>Deactivated
                                                    </label>
                                                </div>
                                            </div>

                                            <!-- Child Rows -->
                                            @foreach (var child in parent.SubEntities)
                                            {
                                                <div class="justify-content-between organization-structure-ac sub-branch collapse" id="collapse-@parent.LegalEntityCode" style="display: none;">
                                                    <div class="d-flex first">
                                                        <button disabled class="bdr"></button>
                                                        <div><img class="img-70 m-r-5" src="../assets/images/default-logo-smal.png" /></div>
                                                        <div>
                                                            <span class="m-r-5">[@child.LegalEntityCode]</span>@child.LegalEntityName
                                                            <form class="d-block" method="post" action="/LegalEntity/ShowLegalEntities">
                                                                <input type="hidden" name="LegalEntityCode" value="@child.LegalEntityCode" />
                                                                0<span class="sub-text">Subs</span>
                                                                <button type="submit" class="btn btn-link p-0 add-sub-entity" style="border: none; background: none;">
                                                                    <i class="fa fa-plus-circle sub-icon" aria-hidden="true"></i>
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div class="second">0</div>
                                                    <div class="third">
                                                        <label class="lavel-text" style="color:#00b809">
                                                            <i class="fa fa-circle m-r-10" style="font-size: 9px;"></i>Active
                                                        </label>
                                                    </div>
                                                </div>
                                            }
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
          </div>
       </div>
</main>
<footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toggleBtn = document.querySelector(".toggle-btn");
            const subBranches = document.querySelectorAll(".sub-branch");
            const icon = toggleBtn.querySelector("i");
            subBranches.forEach(branch => branch.style.display = "none");
            toggleBtn.addEventListener("click", function (event) {
                event.preventDefault();
                let isAnyOpen = Array.from(subBranches).some(branch => branch.style.display === "flex");
                if (isAnyOpen) {
                    subBranches.forEach(branch => branch.style.display = "none");
                    icon.classList.replace("fa-chevron-down", "fa-chevron-right");
                } else {
                    subBranches.forEach(branch => branch.style.display = "flex");
                    icon.classList.replace("fa-chevron-right", "fa-chevron-down");
                }
            });
        });


        // $(document).ready(function () {
        //     $('.add-sub-entity').on('click', function (e) {
        //         e.preventDefault();

        //         var legalEntityCode = $(this).data('code');

        //         $.ajax({
        //             url: '/LegalEntity/ShowLegalEntities', 
        //             type: 'POST',
        //             data: { LegalEntityCode: legalEntityCode },
        //             success: function (response) {
        //                 console.log("Success:", response);
        //                 window.location.href = '/LegalEntity/ShowLegalEntities';  
        //             },
        //             error: function (xhr, status, error) {
        //                 console.error("AJAX Error:", error);
        //                 alert("Something went wrong. Please try again.");
        //             }
        //         });
        //     });
        // });

        // $(document).ready(function () {
        //     $(".entity-link").click(function (e) {
        //         e.preventDefault();
        //         var id = $('#entityId').val();
        //         var code = $('#entityCode').val();
        //         var name = $('#entityName').val();
        //         if (!id || !code || !name) {
        //             alert("Please fill in all fields.");
        //             return;
        //         }

        //         $.ajax({
        //             type: "POST",
        //             url: '@Url.Action("UpdateLegalEntities", "LegalEntity")',
        //             data: {
        //                 Id: id,
        //                 Code: code,
        //                 Name: name
        //             },
        //             success: function (response) {
        //                 console.log("Posted successfully!");
        //                 window.location.href = '@Url.Action("UpdateLegalEntities", "LegalEntity")';   
        //             },
        //             error: function (xhr, status, error) {
        //                 console.error("Error: " + error);
        //             }
        //         });
        //     });
        // });


    </script>
</footer>