@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
@Html.Partial("Head")
<body>
    <header>
        @Html.Partial("_Loader")
        <div id="pcoded" class="pcoded">
            <div class="pcoded-overlay-box"></div>
            <div class="pcoded-container navbar-wrapper">
                @Html.Partial("_HeaderNav")
                <div class="pcoded-main-container">
                    <div class="pcoded-wrapper">
                        <nav class="pcoded-navbar">
                            <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                            <div class="pcoded-inner-navbar main-menu">
                                <div class="">
                                    <div class="main-menu-header">
                                        <div class="d-flex align-items-center">
                                            <a href="customers.html" style="position: relative; z-index: 10;"><i class="fa fa-arrow-left mr-2" aria-hidden="true" style="vertical-align: text-top;"></i></a>

                                        </div>
                                        <h6 style="font-weight:700;">
                                            <label style="margin-bottom:0;">

                                            </label>
                                        </h6>
                                    </div>
                                </div>
                                <ul class="pcoded-item pcoded-left-item">
                                    <li class="active">
                                        <a class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Manage User</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="InternalUsers" asp-action="ShowInternalUsers" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Inernal Users</span>
                                        </a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </nav>
                        <div class="pcoded-content">
                            <main role="main" class="pb-3">
                                @RenderBody()
                            </main>
                        </div>
                        <div id="styleSelector"> </div>
                    </div>
                </div>
            </div>
            <!-- Main-body end -->
        </div>
    </header>
    @Html.Partial("Footer")
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
            $(".select").select2();
        });
    </script>
    <!-- Upload image format start -->

</body>
</html>
