@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
@Html.Partial("Head")
<body>
    <header>
        @Html.Partial("_Loader")
        <div id="pcoded" class="pcoded">
            <div class="pcoded-overlay-box"></div>
            <div class="pcoded-container navbar-wrapper">
                @Html.Partial("_HeaderNav")
                <div class="pcoded-main-container">
                    <div class="pcoded-wrapper">
                        <nav class="pcoded-navbar">
                            <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                            <div class="pcoded-inner-navbar main-menu">
                                <div class="">
                                    <div class="main-menu-header">
                                        <a href="customers.html" style="position: relative; z-index: 10;"><i class="fa fa-arrow-left mr-2" aria-hidden="true" style="vertical-align: text-top;"></i></a>
                                        <img class="img-80" title="logo" src="../assets/images/customer-logo/default-logo.png" alt="logo">
                                        <h6 style="font-weight:700;">
                                            @if(ViewBag.LegalEntityName != null)
                                            {
                                               @ViewBag.LegalEntityName
                                            }

                                            @if (ViewBag.LegalEntityCode != null)
                                            {
                                               @("-")  @ViewBag.LegalEntityCode
                                            }
                                            <a href="#" style="color: #0e93d8; display:block; margin-top:12px;">View Org. Structure </a>
                                        </h6>
                                    </div>
                                </div>
                                <ul class="pcoded-item pcoded-left-item">
                                    <li class="active">
                                        <a asp-controller="LegalEntity" asp-action="ShowLegalEntities" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Legal Entity Info</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="AccountDetails" asp-action="ShowAccountDetails" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-building-o" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Account Details</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="AccountBalance" asp-action="ShowAccountBalance" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Account Balance</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="ContactUs" asp-action="ShowContactUs" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Contact Us</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="ManageStaff" asp-action="ShowManageStaff" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-exchange" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Manage Staff</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="LocationsandTax" asp-action="ShowLocationsandTax" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-credit-card" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Locations and Tax</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="Departments" asp-action="ShowDepartments" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-group" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Departments</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="Designations" asp-action="ShowDesignations" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-list-alt" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Designations</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="Bands" asp-action="ShowBands" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-cc-jcb" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Bands</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="ProjectCodes" asp-action="ShowProjectCodes" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-cc-jcb" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Project Codes</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="Commercials" asp-action="ShowCommercials" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-cc-jcb" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Commercials</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="IATACommissions" asp-action="ShowIATACommissions" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-cc-jcb" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">IATA Commissions</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="ApprovalWorkflows" asp-action="ShowApprovalWorkflows" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-cc-jcb" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Approval Workflows</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="TravelPolicies" asp-action="ShowTravelPolicies" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-cc-jcb" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Travel Policies</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="EmailConfigurations" asp-action="ShowEmailConfigurations" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-cc-jcb" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Email Configurations</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="GDSProfile" asp-action="ShowGDSProfile" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-cc-jcb" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">GDS Profile</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="SuppliersDealCodes" asp-action="ShowSuppliersDealCodes" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-cc-jcb" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Suppliers & Deal Codes</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="AccountConfiguration" asp-action="ShowAccountConfiguration" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-cc-jcb" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Account Configuration</span>
                                        </a>
                                    </li>
                                       <li class="">
                                        <a asp-controller="CreditCards" asp-action="ShowCreditCards" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-cc-jcb" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Credit Cards</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="ReportingParameters" asp-action="ShowReportingParameters" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-cc-jcb" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Reporting Parameters</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="PassthroughSettings" asp-action="ShowPassthroughSettings" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-cc-jcb" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Passthrough Settings</span>
                                        </a>
                                    </li>
                                     <li class="">
                                        <a asp-controller="EmploymentTypes" asp-action="ShowEmploymentTypes" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-cc-jcb" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Employment Types</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="FinancialCharges" asp-action="ShowFinancialCharges" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-cc-jcb" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Financial Charges</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="Banners" asp-action="ShowBanners" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-cc-jcb" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Banners</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="CostCenter" asp-action="ShowCostCenter" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-cc-jcb" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Cost Center</span>
                                        </a>
                                    </li>
                                       <li class="">
                                        <a asp-controller="UserManuals" asp-action="ShowUserManuals" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-cc-jcb" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">User Manuals</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="ApprovalPolicies" asp-action="ShowApprovalPolicies" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-cc-jcb" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Approval Policies</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="Budgets" asp-action="ShowBudgets" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-cc-jcb" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Budgets</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="FrequentFlyerMap" asp-action="ShowFrequentFlyerMap" asp-route-LegalEntityName="@ViewBag.LegalEntityName" asp-route-LegalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-cc-jcb" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Frequent Flyer Map</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <div class="pcoded-content">
                            <main role="main" class="pb-3">
                                @RenderBody()
                            </main>
                        </div>
                        <div id="styleSelector"> </div>
                    </div>
                </div>
            </div>
            <!-- Main-body end -->
        </div>
    </header>
    @Html.Partial("Footer")

    @await RenderSectionAsync("Scripts", required: false)
    <!-- multiple selection Jquery start -->
    <script>
        $('.langOpt').multiselect({
            columns: 1,
            texts: {
                placeholder: 'Associated Fare Type(s) *'
            }
        });
        $('.langOptone').multiselect({
            columns: 1,
            texts: {
                placeholder: 'Business Travel'
            }
        });

        $('.langOpttwo').multiselect({
            columns: 1,
            texts: {
                placeholder: 'Personal Travel'
            }
        });
    </script>
    <!-- multiple selection Jquery start -->
    <script>
        $(function () {
            $(".select").select2();
        });
        $(function () {
            $(".date-main").datepicker({
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
    <!-- Upload image format start -->
    
</body>
</html>
