<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jetways Travels</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="Admin" />
    <!-- Favicon icon -->
    <link rel="icon" href="~/assets/images/favicon.png" type="image/x-icon">
    <!-- waves.css -->
    <link rel="stylesheet" href="~/assets/pages/waves/css/waves.min.css" type="text/css" media="all">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap/css/bootstrap.min.css">
    <!-- waves.css -->
    <link rel="stylesheet" href="~/assets/pages/waves/css/waves.min.css" type="text/css" media="all">
    <!-- themify icon -->
    <link rel="stylesheet" type="text/css" href="~/assets/icon/themify-icons/themify-icons.css">
    <!-- font-awesome-n -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
    <!-- scrollbar.css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/jquery.mCustomScrollbar.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/select2.min.css">
    <style>
        .page-wrapper {
            filter: unset;
            pointer-events: unset;
        }
    </style>
</head>
<body>
    <header>
        <!-- Pre-loader start -->
        <div class="theme-loader">
            <div class="loader-track">
                <div class="preloader-wrapper">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pre-loader end -->
        <div id="pcoded" class="pcoded">
            <div class="pcoded-overlay-box"></div>
            <div class="pcoded-container navbar-wrapper">
                <nav class="navbar header-navbar pcoded-header">
                    <div class="navbar-wrapper">
                        <div class="navbar-logo">
                            <a asp-controller="Login" asp-action="dashboard">
                                <img class="img-fluid" title="logo" src="../assets/images/logo.png" alt="logo" style="width:180px;" />
                            </a>
                            <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
                                <i class="ti-menu"></i>
                            </a>
                        </div>
                        <div class="navbar-container container-fluid">
                            <ul class="nav-left">
                                <li>
                                    <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                                </li>
                                <li>
                                    <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                                        <i class="ti-fullscreen"></i>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav-right">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">My Trips</a></li>
                                <li><a href="#">Approvals</a></li>
                                <li><a href="#">Tripbox</a></li>
                                <li><a href="#">Analytics</a></li>
                                <li class="user-profile header-notification">
                                    <a href="#!" class="waves-effect waves-light">
                                        <img onerror="this.src='../assets/images/login-img.svg'" class="user-pic" loading="lazy" src="../assets/images/login-img.svg">
                                        <span>Login</span>
                                        <i class="ti-angle-down"></i>
                                    </a>
                                    <ul class="show-notification profile-notification">
                                        <li class="first">
                                            <div style="border-bottom: #eee 1px solid; padding-bottom: 7px;">
                                                <div class="d-flex" style="margin-bottom: 4px;">
                                                    <img class="user-pic" loading="lazy" src="../assets/images/login-img.svg">
                                                    <strong style="font-weight: 600; margin-top: 8px;">Bhupendra M</strong>
                                                </div>
                                                <div>
                                                    <p style="color: #a9a9a9; margin-bottom: 2px;">bhupendra.m@jetwaystravels.com</p>
                                                    <p style="color: #a9a9a9; margin-bottom: 2px;">[JET001] Jetways Travels</p>
                                                    <p style="color:#a9a9a9;margin-bottom: 2px; "> Balance : <i class="fa fa-inr" aria-hidden="true" style="vertical-align:middle;"></i></p>

                                                </div>
                                            </div>
                                        </li>
                                        <li><strong style="font-weight:600;"><i class="fa fa-address-card" aria-hidden="true"></i>Account</strong></li>
                                        <li class="waves-effect waves-light">
                                            <a href="#!">
                                                <i class="fa fa-television" aria-hidden="true"></i> Emulate
                                            </a>
                                        </li>
                                        <li class="waves-effect waves-light">
                                            <a href="user-profile.html">
                                                <i class="fa fa-list" aria-hidden="true"></i> Checklist
                                            </a>
                                        </li>
                                        <li class="waves-effect waves-light">
                                            <a href="email-inbox.html">
                                                <i class="ti-user"></i> My Profile
                                            </a>
                                        </li>
                                        <li class="waves-effect waves-light">
                                            <a href="auth-lock-screen.html">
                                                <i class="ti-lock"></i> Change Password
                                            </a>
                                        </li>
                                        <li><a href="#"><i class="ti-settings"></i>Settings</a></li>
                                        <li><a href="#"><i class="fa fa-user-o" aria-hidden="true"></i>User Management</a></li>
                                        <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>Contact Us</a></li>
                                        <li><a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i>Feedbacks</a></li>
                                        <li><a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i><strong>User Manual</strong></a></li>
                                        <li class="waves-effect waves-light">
                                            <a href="auth-normal-sign-in.html">
                                                <strong style="font-weight:600;"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</strong>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <div class="pcoded-main-container">
                    <div class="pcoded-wrapper">
                        <nav class="pcoded-navbar">
                            <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                            <div class="pcoded-inner-navbar main-menu">
                                <div class="">
                                    <div class="main-menu-header">
                                        <a href="#" style="position: relative; z-index: 10;"><i class="fa fa-arrow-left mr-2" aria-hidden="true" style="vertical-align: text-top;"></i></a>
                                        @if ((int)ViewBag.SupplierId == 2)
                                        {
                                            <img class="img-80" src="~/assets/images/side-bar-logo-1.png" alt="logo">
                                            <h6 style="font-weight:700;">SpiceJet (Jetways)</h6>
                                        }
                                        else if ((int)ViewBag.SupplierId == 3)
                                        {
                                           <img class="img-80" src="~/assets/images/airlines-logo/logo-8.png" alt="logo" />
                                           <h6 style="font-weight:700;">Indigo (Jetways)</h6>
                                        }
                                        else if ((int)ViewBag.SupplierId == 4)
                                        {
                                            <img class="img-80" src="~/assets/images/airlines-logo/logo-6.png" alt="logo" />
                                            <h6 style="font-weight:700;">Air India Exp. (Jetways)</h6>
                                        }
                                        else if ((int)ViewBag.SupplierId == 5)
                                        {
                                            <img class="img-80" src="~/assets/images/airlines-logo/logo-9.png" alt="logo" />
                                            <h6 style="font-weight:700;">Akasa (Jetways)</h6>
                                        }
                                        else if ((int)ViewBag.SupplierId == 6)
                                        {
                                            <img class="img-80" src="~/assets/images/airlines-logo/logo-10.png" alt="logo" />
                                            <h6 style="font-weight:700;">Air India (Jetways)</h6>
                                        }
                                    </div>
                                </div>
                                <ul class="pcoded-item pcoded-left-item">
                                    <li class="active">
                                        <a asp-controller="AddNewSupplier" asp-action="UpdateSupplier" asp-route-SupplierId="@ViewBag.SupplierId" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Supplier info</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="AddNewSupplier" asp-action="Credentials" asp-route-SupplierId="@ViewBag.SupplierId" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-codepen" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Credentials</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="AddNewSupplier" asp-action="DealCodes" asp-route-SupplierId="@ViewBag.SupplierId" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-percent" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Deal Codes</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="AddNewSupplier" asp-action="NetRemitCodes" asp-route-SupplierId="@ViewBag.SupplierId" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-money" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Net Remit Codes</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="AddNewSupplier" asp-action="AdvancePricingMarkup" asp-route-SupplierId="@ViewBag.SupplierId" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-newspaper-o" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Advance Pricing Markup</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="AddNewSupplier" asp-action="FareTypeSettings" asp-route-SupplierId="@ViewBag.SupplierId" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-cog" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Fare Type Settings</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <div class="pcoded-content">
                            <main role="main" class="pb-3">
                                @RenderBody()
                            </main>
                        </div>
                        <div id="styleSelector"> </div>
                    </div>
                </div>
            </div>
            <!-- Main-body end -->
        </div>
    </header>
    <!-- Required Jquery -->
    <script type="text/javascript" src="~/assets/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/assets/js/popper.js/popper.min.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap/js/bootstrap.min.js"></script>
    <!-- waves js -->
    <script src="~/assets/pages/waves/js/waves.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/assets/js/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- slimscroll js -->
    <script src="~/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- menu js -->
    <script src="~/assets/js/pcoded.min.js"></script>
    <script src="~/assets/js/vertical/vertical-layout.min.js"></script>
    <script type="text/javascript" src="~/assets/js/script.js"></script>
    <!-- multiple selection Jquery -->
    <script type="text/javascript" src="~/assets/js/jquery.multiselect.js"></script>
    <!-- select with search js Start -->
    <script type="text/javascript" src="~/assets/js/select2.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
            $(".select").select2();
        });

        $('#langOpt').multiselect({
            columns: 1,
            texts: {
                placeholder: 'Associated Fare Type(s) *'
            }
        });
    </script>
    <!-- Upload image format start -->

</body>
</html>
