@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
@Html.Partial("Head")
<body>
    <header>
        @Html.Partial("_Loader")
        <div id="pcoded" class="pcoded">
            <div class="pcoded-overlay-box"></div>
            <div class="pcoded-container navbar-wrapper">
                @Html.Partial("_HeaderNav")
                @{
                    TempData.Keep("EmplID");
                    TempData.Keep("EmplName");
                }
                <div class="pcoded-main-container">
                    <div class="pcoded-wrapper">
                        <nav class="pcoded-navbar">
                            <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                            <div class="pcoded-inner-navbar main-menu">
                                <div class="">
                                    <div class="main-menu-header">
                                        <div class="d-flex align-items-center">
                                            <a href="#" style="position: relative; z-index: 10;"><i class="fa fa-arrow-left mr-2" aria-hidden="true" style="vertical-align: text-top;"></i></a>

                                            @if (TempData["LogoBase64"] != null)
                                            {
                                                <img class="m-t-10" src="data:image/png;base64,@TempData["LogoBase64"]" alt="Logo" alt="user-img" loading="lazy" style="width:40px;">
                                            }
                                            else
                                            {
                                                <img class="m-t-10" src="../assets/images/login-img.svg" alt="user-img" loading="lazy" style="width:40px;">
                                            }
                                            <div class="m-l-10"><strong style="font-weight:700;">EMP ID: @TempData["EmplID"]</strong></div>
                                        </div>
                                        <h6 style="font-weight:700;">
                                            <label style="margin-bottom:0;">
                                                @TempData["EmplName"]
                                            </label>
                                        </h6>
                                    </div>
                                </div>
                                <ul class="pcoded-item pcoded-left-item">
                                    <li class="active">
                                        <a asp-controller="Users" asp-action="ShowUsers" asp-route-UserID="@ViewBag.EUserid"
                                           asp-route-legalEntityId="@ViewBag.LegalEntityId"
                                           asp-route-legalEntityName="@ViewBag.LegalEntityName"
                                           asp-route-empId="@ViewBag.empId"
                                           asp-route-legalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Personal Info</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="Users" asp-action="OrganizationUsersProfile" asp-route-UserID="@ViewBag.EUserid"
                                           asp-route-legalEntityId="@ViewBag.LegalEntityId" asp-route-empId="@ViewBag.empId"
                                           asp-route-legalEntityName="@ViewBag.LegalEntityName"
                                           asp-route-legalEntityCode="@ViewBag.LegalEntityCode" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-building-o" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Organization Profile</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a  class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Contact Details</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Documents</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-exchange" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Preferences</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-credit-card" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Credit Cards</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-group" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Family</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-list-alt" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">Reporting Parameters</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="fa fa-cc-jcb" aria-hidden="true"></i></span>
                                            <span class="pcoded-mtext">GDS Profile</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <div class="pcoded-content">
                            <main role="main" class="pb-3">
                                @RenderBody()
                            </main>
                        </div>
                        <div id="styleSelector"> </div>
                    </div>
                </div>
            </div>
            <!-- Main-body end -->
        </div>
    </header>
    @Html.Partial("Footer")

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
            $(".select").select2();
        });
    </script>
    <!-- Upload image format start -->
    <script>
        document.getElementById('imageInput').addEventListener('change', function (event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader(); 
                reader.onload = function (e) {
                    document.getElementById('preview').src = e.target.result; 
                };
                reader.readAsDataURL(file); 
            }
        });
    </script>
    <!-- Upload image format End -->
</body>
</html>
