@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
@Html.Partial("Head")
<body>
    <header>
        @Html.Partial("_Loader")
        <div id="pcoded" class="pcoded">
            <div class="pcoded-overlay-box"></div>
            <div class="pcoded-container navbar-wrapper">
                @Html.Partial("_HeaderNav")
            </div>
        </div>
    </header>

    <div class="">
    <main role="main" class="pb-3">
    @RenderBody()
  </main>
 </div>
    @Html.Partial("Footer")
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
            $(".select").select2();
        });
    </script>
    <!-- select with search js End -->
    <!-- datepicker start -->
    <script>
        // $(function () {
        //     $(".date-main").datepicker({
        //         changeMonth: true,
        //         changeYear: true
        //     });
        // });

        flatpickr(".date-main", {
            dateFormat: "Y-m-d",
            minDate: "today",       
            allowInput: true,       
            changeMonth: true,      
            changeYear: true   
        });
    </script>
    <!-- datepicker End -->

    <script>
        $(".add").click(function () {
            $(this).closest('.content-one').append('<div class="row p-l-p DomainsEmail"><div class="col-md-12"><input class="form-control" type="text" placeholder="Please enter domain name"><span class="remove"><i class="add fa fa-minus-circle m-t-15" aria-hidden="true" style="color: #ff1515; cursor:pointer; position: absolute; right: 22px;"></i></span></div></div>');
        });
    </script>

    <script>
        $(".add").click(function () {
            $(this).closest('.content-two').append('<div class="row p-l-p DomainsEmail"><div class="col-md-12"><input class="form-control" type="text" placeholder="Please add approver email(s) in comma seperated"><span class="remove"><i class="add fa fa-minus-circle m-t-15" aria-hidden="true" style="color: #ff1515; cursor:pointer; position: absolute; right: 22px;"></i></span></div></div>');
        });
    </script>

    <script>
        $("body").on('click', '.remove', function () {
            $(this).parents('.DomainsEmail').remove();
        });
    </script>

    <!-- multiple selection Jquery start -->
    <script>
    $('.langOpt').each(function () {
    var placeholderText = $(this).data('placeholder') || 'Select option';
    $(this).multiselect({
        placeholder: placeholderText,
    });
    });
    </script>
    
 <script>
        setTimeout(function () {
          $(".theme-loader").fadeOut(400);
          setTimeout(function () {
            $(".page-wrapper").addClass("loaded");
          }, 400);
        }, 400);
    </script>

</body>
</html>
