@model JetwaysAdmin.Entity.LegalEntity
@{
    Layout = "~/Views/Shared/_LegalEntities.cshtml";
    var Data = Model;
}

<main id="main" class="main">
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Legal Entity Information</h5>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Setting</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Manage Customers</a>
                                </li>
                                <li class="breadcrumb-item">
                                    Organization Structure
                                </li>
                                <li class="breadcrumb-item">
                                    Legal Entity Information
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pcoded-inner-content">
                <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="page-body">
                            <div class="card">
                                <div class="card-block">
                                    <form class="form-material form-row" asp-controller="LegalEntity" asp-action="EditLegalEntities" method="post">
                                        <div class="form-group form-primary col-md-6">
                                            <input type="text" name="LegalEntityName" value="@Model.LegalEntityName" class="form-control" required>
                                            <span class="form-bar"></span>
                                            <label class="float-label">Legal Entity Name<span>*</span></label>
                                        </div>
                                        <div class="form-group form-primary col-md-3">
                                            <input type="text" name="LegalEntityCode" value="@Model.LegalEntityCode" class="form-control">
                                            <span class="form-bar"></span>
                                            <label class="float-label">Legal Entity Code</label>
                                        </div>
                                        <div class="form-group form-primary col-md-3">
                                            <input type="text"  readonly name="Id" value="@Model.Id" class="form-control">
                                            <span class="form-bar"></span>
                                            <label class="float-label">Eva Reference ID</label>
                                        </div>
                                        <div class="form-group form-primary col-md-6">
                                            <input type="text" name="AddressLine1" value="@Model.AddressLine1" class="form-control" required>
                                            <span class="form-bar"></span>
                                            <label class="float-label">Registered Address Line 1</label>
                                        </div>
                                        <div class="form-group form-primary col-md-6">
                                            <input type="text" name="AddressLine2" value="@Model.AddressLine2" class="form-control" required>
                                            <span class="form-bar"></span>
                                            <label class="float-label">Registered Address Line 2</label>
                                        </div>
                                        <div class="form-group form-primary col-md-3">
                                            <select  name="Country" class="select">
                                                <option value="@Model.Country">@Model.Country</option>
                                                <option value="AF">Abkhazia</option>
                                                <option value="AL">Afghanistan</option>
                                                <option value="DZ">Akrotiri and Dhekelia</option>
                                                <option value="AO">Aland Island</option>
                                                <option value="AR">Albania</option>
                                                <option value="AM">Algeria</option>
                                                <option value="AW">American Samoa</option>
                                                <option value="AU">Andorra</option>
                                                <option value="AZ">Angola</option>
                                                <option value="INDIA">India</option>
                                            </select>
                                        </div>
                                        <div class="form-group form-primary col-md-3">
                                            <select  name="State" class="select">
                                                <option value="@Model.State">@Model.State</option>
                                                <option value="Delhi">Delhi</option>
                                            </select>
                                        </div>
                                        <div class="form-group form-primary col-md-3">
                                            <select  class="select">
                                                <option name="City" value="@Model.City">@Model.City</option>
                                                <option value="NEWDELHI">New Delhi</option>
                                            </select>
                                        </div>
                                        <div class="form-group form-primary col-md-3">
                                            <input type="text" value="@Model.PostalCode" name="PostalCode" class="form-control">
                                            <span class="form-bar"></span>
                                            <label class="float-label">Postal Code<span>*</span></label>
                                        </div>
                                        <div class="form-group form-primary col-md-3">
                                            <input type="text" name="creat-type" class="form-control">
                                            <span class="form-bar"></span>
                                            <label class="float-label">Integration Ref. Number</label>
                                        </div>
                                        <div class="form-group form-primary col-md-3">
                                            <select class="select">
                                                <option value="">Customer Base Currency* (₹ INR)</option>
                                                <option value="INDIA">India</option>
                                                <option value="AF">Afghanistan</option>
                                                <option value="AL">Albania</option>
                                                <option value="DZ">Algeria</option>
                                                <option value="AO">Angola</option>
                                                <option value="AR">Argentina</option>
                                                <option value="AM">Armenia</option>
                                                <option value="AW">Aruba</option>
                                                <option value="AU">Australia</option>
                                                <option value="AZ">Austria</option>
                                            </select>
                                        </div>
                                        <div class="form-group form-primary col-md-3">
                                            <select class="select">
                                                <option value="">Customer Base Country*</option>
                                                <option value="AF">Afghanistan</option>
                                                <option value="AL">Albania</option>
                                                <option value="DZ">Algeria</option>
                                                <option value="AO">Angola</option>
                                                <option value="AR">Argentina</option>
                                                <option value="AM">Armenia</option>
                                                <option value="AW">Aruba</option>
                                                <option value="AU">Australia</option>
                                                <option value="AZ">Austria</option>
                                            </select>
                                        </div>

                                        <div class="form-group form-primary col-md-3">
                                            <input class="form-control date-main" type="text" name="AcountActivationDate" placeholder="Account Activation Date">
                                            <span class="form-bar"></span>
                                        </div>

                                        <div class="form-group form-primary col-md-3">
                                            <input class="form-control date-main" type="text" name="AccountDeactivationDate" placeholder="Account De-activation Date">
                                            <span class="form-bar"></span>
                                        </div>

                                        <div class="form-group form-primary col-md-3">
                                            <select class="select">
                                                <option value="">Entity Head</option>
                                            </select>
                                        </div>
                                        <div class="form-group form-primary col-md-3">
                                            <select class="select">
                                                <option value="">Entity Manager 1</option>
                                            </select>
                                        </div>
                                        <div class="form-group form-primary col-md-3">
                                            <select class="select">
                                                <option value="">Entity Manager 2</option>
                                            </select>
                                        </div>

                                        <div class="form-group form-primary col-md-3 m-t-15">
                                            <strong>Tax Applicable on Management Fee</strong>
                                            <label class="switch m-l-5">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>

                                        <div class="form-group form-primary col-md-3 m-t-15">
                                            <strong>Pass Tax Details to the Airlines</strong>
                                            <label class="switch m-l-5">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>

                                        <div class="form-group form-primary col-md-3 m-t-15">
                                            <strong>Share Employee's Profile to all Sub Entities</strong>
                                            <label class="switch m-l-5">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>

                                        <div class="form-group form-primary col-md-3">
                                            <select name="select" class="form-control fill">
                                                <option value="opt1">Per Traveller</option>
                                                <option value="opt2">All Travellers</option>
                                            </select>
                                            <span class="form-bar"></span>
                                        </div>

                                        <div class="form-group form-primary col-md-3">
                                            <input type="text" name="creat-type" class="form-control">
                                            <span class="form-bar"></span>
                                            <label class="float-label">Trip ID Prefix for DOM</label>
                                        </div>
                                        <div class="form-group form-primary col-md-3">
                                            <input type="text" name="creat-type" class="form-control">
                                            <span class="form-bar"></span>
                                            <label class="float-label">Trip ID Prefix for INT</label>
                                        </div>
                                   
                                    <div class="form-material form-row">
                                        <div class="form-group form-primary col-md-6 m-t-15 content-one ">
                                            <div class="ng-content-hd">Domains</div>
                                            <div class="row p-l-p DomainsEmail">
                                                <div class="col-md-12">
                                                    <input class="form-control" type="text" placeholder="Please enter domain name">
                                                    <i class="add fa fa-plus-circle m-t-15" aria-hidden="true" style="color: #0764ff; cursor: pointer; position: absolute; right: 22px;"></i>
                                                    <span class="form-bar"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group form-primary col-md-6 m-t-15 content-two">
                                            <div class="ng-content-hd">Approver Emails</div>
                                            <div class="row p-l-p DomainsEmail">
                                                <div class="col-md-12">
                                                    <input class="form-control" type="text" placeholder="Please add approver email(s) in comma seperated">
                                                    <i class="add fa fa-plus-circle m-t-15" aria-hidden="true" style="color: #0764ff; cursor: pointer; position: absolute; right: 22px;"></i>
                                                    <span class="form-bar"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-primary col-md-6">
                                            <input type="file" name="upload-logo" class="form-control" placeholder="Logo">
                                            <span class="form-bar"></span>
                                            <span style="font-size:11px;font-weight:700;">Upload logo Allowed formats: .JPG / .PNG, Maximum file size: 1mb, Resolution 200px x 90px</span>
                                        </div>
                                        <div class="form-group form-primary col-md-12">
                                            <button type="submit" class="btn btn-primary waves-effect waves-light">Update</button>
                                        </div>
                                    </div>
                                 </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>