@model JetwaysAdmin.UI.ViewModel.MenuHeaddata
@{
    Layout = "~/Views/Shared/_Supplier.cshtml";
    var Data = Model;
}

<main id="main" class="main">
    <div class="pcoded-main-container">
        <!--Add Credential start-->
        <div class="pcoded-wrapper addCredential" style="display:none;">
            <!-- Page-header start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <div class="page-header-title">
                                <h5 class="m-b-10"><a href="credentials.html" style="position: relative; z-index: 10;"><i class="fa fa-arrow-left mr-2" aria-hidden="true" style="vertical-align: text-top;"></i></a>Add Credential</h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Setting</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Manage Suppliers</a>
                                </li>
                                <li class="breadcrumb-item">
                                    Credentials
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page-header end -->
            <div class="pcoded-inner-content">
                <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- Page-body start -->
                        <div class="page-body">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-body start -->
                                    <div class="page-body">
                                        <div class="card">
                                            <div class="card-block">
                                                <!--  credential form Start -->
                                                <form class="form-material form-row" autocomplete="off" method="post">
                                                    <div class="form-group form-primary col-md-3">
                                                        <input type="text" name="CredentialsName" class="form-control">
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">Credentials Name</label>
                                                    </div>
                                                    <div class="form-group form-primary col-md-3">
                                                        <input type="text" name="ClientId" class="form-control" required>
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">Client Id<span>*</span></label>
                                                    </div>
                                                    <div class="form-group form-primary col-md-3">
                                                        <input type="text" name="UserName" class="form-control" required autocomplete="new-username">
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">User Name<span>*</span></label>
                                                    </div>
                                                    <div class="form-group form-primary col-md-3">
                                                        <input type="Password" name="Password" class="form-control" required autocomplete="new-password">
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">Password<span>*</span></label>
                                                    </div>
                                                    <div class="form-group form-primary col-md-3">
                                                        <select class="form-control" name="AssociatedFareTypes" multiple id="langOpt">
                                                            <option value="2">Corporate</option>
                                                            <option value="3">Retail</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group form-primary col-md-3">
                                                        <select name="TravelType" class="form-control fill">
                                                            <option value="opt1">Travel Type*</option>
                                                            <option value="opt2"> International </option>
                                                            <option value="opt3"> Domestic </option>
                                                            <option value="opt4">Both</option>
                                                        </select>
                                                        <span class="form-bar"></span>
                                                    </div>
                                                    <div class="form-group form-primary col-md-3">
                                                        <input type="text" name="AgentName" class="form-control">
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">Agent Name</label>
                                                    </div>
                                                    <div class="form-group form-primary col-md-3">
                                                        <input type="text" name="OrganizationId" class="form-control">
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">Organization ID</label>
                                                    </div>
                                                    <div class="form-group form-primary col-md-3">
                                                        <select name="CredentialsType" class="form-control fill">
                                                            <option value="opt1">Credentials Typ*</option>
                                                            <option value="opt2">Default</option>
                                                            <option value="opt3">costom</option>
                                                        </select>
                                                        <span class="form-bar"></span>
                                                    </div>
                                                    <div class="form-group form-primary col-md-3">
                                                        <input type="text" name="SupplierCode" class="form-control">
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">Supplier Code(optional)</label>
                                                    </div>
                                                    <div class="form-group form-primary col-md-7 m-l-5">
                                                        <button type="submit" formaction="/AddNewSupplier/AddCredentials" class="btn btn-primary waves-effect waves-light">Add</button>
                                                        <button type="button"  class="btn btn-danger waves-effect waves-light">Cancel</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Page-body end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Add Credential-->
        <div class="pcoded-wrapper CredInform">
            <!-- Page-header start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Credentials</h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Setting</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Manage Suppliers</a>
                                </li>
                                <li class="breadcrumb-item">
                                    Credentials
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page-header end -->
            <div class="pcoded-inner-content">
                <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- Page-body start -->
                        <div class="page-body">
                            @if (TempData["Add_Credentials"] != null)
                            {
                                <div class="alert">
                                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                    <strong></strong> @TempData["Add_Credentials"]
                                </div>
                            }
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-body start -->
                                    <div class="page-body">
                                        <div class="d-flex justify-content-between m-b-10">
                                            <form class="form-material">
                                                <div class="form-group form-primary" style="width:280px;">
                                                    <input type="text" name="footer-email" class="form-control">
                                                    <span class="form-bar"></span>
                                                    <label class="float-label"><i class="fa fa-search m-r-10"></i>Search</label>
                                                </div>
                                            </form>
                                            <div><button type="button" class="btn sml-btn-danger waves-effect waves-light" id="addcredID">+ Add New</button></div>
                                        </div>
                                        <div class="card">
                                            <div class="card-block table-border-style">
                                                <!--  credentials Start -->
                                                <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th><button class="srt-btn" type="button" aria-label="credentials name">Credentials Name</button></th>
                                                                <th><button class="srt-btn" type="button" aria-label="client ID">Client ID</button></th>
                                                                <th><button class="srt-btn" type="button" aria-label="User Name">User Name</button></th>
                                                                <th><button class="srt-btn" type="button" aria-label="Fare Type">Travel Type(s)</button></th>
                                                                <th><button class="srt-btn" type="button" aria-label="Status">Status</button></th>
                                                            </tr>
                                                        </thead>
                                                        @foreach(var credentaildetail in Model.supplierscredential)
                                                        {
                                                        <tbody>
                                                                <tr onclick="location.href='@Url.Action("UpdateCredential", "AddNewSupplier", new { id = credentaildetail.Id })';" style="cursor:pointer;">
                                                                <td> @credentaildetail.CredentialsName </td>
                                                                <td> @credentaildetail.ClientId </td>
                                                                <td> @credentaildetail.UserName </td>
                                                                <td><span class="letter-length"> @credentaildetail.TravelType </span></td>
                                                                <td>
                                                                 @*<label class="switch">
                                                                        <input type="checkbox">
                                                                        <span class="slider round"></span>
                                                                    </label> *@
                                                                        <form asp-action="EditInternalUsers" asp-controller="AddNewSupplier" method="post">
                                                                            <input type="hidden" name="Id" value="@credentaildetail.Id" />
                                                                            <input type="hidden" name="Status" value="0" />
                                                                            <label class="switch">
                                                                                <input type="checkbox"
                                                                                       name="Status"
                                                                                       value="1"
                                                                                @(credentaildetail.Status == 1 ? "checked" : "")
                                                                                       onchange="event.stopPropagation(); this.form.submit();" />
                                                                                <span class="slider round"></span>
                                                                            </label>
                                                                        </form>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                        }
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between pagination-section">
                                            <span class="pagination-info">
                                                Showing 1 to 10 of 100
                                            </span>
                                            <div class="float-right pagination">
                                                <span class="m-t-5 m-r-5">Items per page:</span>
                                                <select class="form-select form-select-sm">
                                                    <option selected>5</option>
                                                    <option value="1">10</option>
                                                    <option value="2">25</option>
                                                    <option value="3">100</option>
                                                </select>
                                                <ul class="pagination">
                                                    <li class="page-item page-pre"><a class="page-link" aria-label="previous page" href="javascript:void(0)">‹</a></li>
                                                    <li class="page-item active"><a class="page-link" aria-label="to page 1" href="javascript:void(0)">1</a></li>
                                                    <li class="page-item"><a class="page-link" aria-label="to page 2" href="javascript:void(0)">2</a></li>
                                                    <li class="page-item"><a class="page-link" aria-label="to page 3" href="javascript:void(0)">3</a></li>
                                                    <li class="page-item"><a class="page-link" aria-label="to page 4" href="javascript:void(0)">4</a></li>
                                                    <li class="page-item"><a class="page-link" aria-label="to page 5" href="javascript:void(0)">5</a></li>
                                                    <li class="page-item page-last-separator disabled"><a class="page-link" aria-label="" href="javascript:void(0)">...</a></li>
                                                    <li class="page-item"><a class="page-link" aria-label="to page 80" href="javascript:void(0)">80</a></li>
                                                    <li class="page-item page-next"><a class="page-link" aria-label="next page" href="javascript:void(0)">›</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!--  credentials end -->
                                    </div>
                                </div>
                            </div>
                            <!-- Page-body end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script typeof="text/javascript">
        $(document).ready(function () {
        $("#addcredID").click(function () {
        $(".addCredential").show();
        $(".CredInform").hide();
        });
        });
    </script>
</footer>